<html>
{% load static %}
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/style_for_index.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign in</title>
</head>
<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1", action="handle", method="post">
      <input class="un" type="text" align="center" placeholder="Username", name="un">
      <input class="pass" type="password" align="center" placeholder="Password", name="passwd">
      <input class="submit" align="center" type=submit></a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
      <p class="forgot" align="center"><a href="Register">Register New User</p>
    </div>
</body>
</html>